.imag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  animation: slide 0.5s ease-in-out 1;
}
@keyframes slide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


